<div class="row-fluid">
	<div class="span1">
		&nbsp;
	</div>
	<div class="span7">
		<div class="well back_well">
			<h2>Edit existing Audio</h2>
			<hr />
			<%= render 'audios/form' %>
		</div>
	</div>
	<div class="span3">
		<div class="well back_well"></div>
	</div>
	<div class="span1">
		&nbsp;
	</div>
</div>

