/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap_and_overrides
 *= require playlist
*/

/* body and base style */
body{
	background: url('back.png') repeat;
}

.back_well{
	background: white;
}

.back_up{
	background: url(background.png) repeat-x center bottom;
	background-color: white;
	height: auto;
}

/* font */
abbr{
	color: red;
}

.blue_text{
	color: #60cae5;
}

.white_text{
	color: white;
	font-weight: bold;
}

span.help-inline{
	font-weight: bold;
	display: block;
}

/* margin padding and floating */
.full{
	width: 95%;
}

.full-tab{
	width: 100%;
}


.align-right{
	text-align: right;
}
.padding_config_top_up{
	padding-top: 9px;
}

.margin_left_up_15{
	margin-left: 15px;
}

/* dates and time zoned */
.controls .date{
	width: 100px;
}

#user_time_zoned{
	width: 307px;
}

.jp-playlist{
	display: none;
	position: absolute;
}

/* audio */
.playlist-audio{
	float: left;
	width: 50%;
	margin-bottom: 10px;
}

.jp-control{
	list-style: none;
	position: absolute;
	margin: 0px;
	padding: 0px;
	display: block;
}

.jp-control li a{
	float: left;
	width: 100px;
	height: 100px;
	border: solid 1px #dcd9d9;
	background-image: none;
}

a.jp-play.background-none{
	background-image: none;
}

a.jp-play.background-none:hover{
	background: url(play-list.png) no-repeat;
	opacity:0.4;
	filter:alpha(opacity=40);
}

a.jp-pause.background-none{
	background: url(play-list.png) no-repeat;
}

a.jp-pause.background-none:hover{
	background: url(stop-list.png) no-repeat;
}

.playlist-info{
	float:left;
}

.playlist-info-sub{
	float:left;
	width: 100%;
}

.border-image{
	border: solid 1px #dcd9d9;
	margin-right: 5px;
	float:left;
	position: relative;
}