/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap_and_overrides
*/

/* body and base style */
body{
	background: url('back.png') repeat;
}

.back_well{
	background: white;
}

/* font */
abbr{
	color: red;
}

.blue_text{
	color: #60cae5;
}

.white_text{
	color: white;
	font-weight: bold;
}

span.help-inline{
	font-weight: bold;
}

/* margin padding and floating */
.full{
	width: 95%;
}

.padding_config_top_up{
	padding-top: 10px;
}

.margin_left_up_15{
	margin-left: 15px;
}

/* dates and time zoned */
.controls .date{
	width: 100px;
}

#user_time_zoned{
	width: 307px;
}
